:root {
  --bg-secondary: rgb(245, 245, 245);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 241, 241);
}
#main-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 0.8rem;
  max-width: 75rem;
  gap: 1rem;
  width: 100%;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar #profile {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.2rem;
  align-items: center;
}

.sidebar #profile img {
  width: 4rem;
  border-radius: 30%;
}
.sidebar #profile h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

#nav-link-sidebar {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 1.2rem;
  padding-right: 1rem;
}

#nav-link-sidebar li {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#nav-link-sidebar li:first-child {
  color: white;
  background-color: rgb(252, 93, 124);
  border-radius: 1.2rem;
}

#nav-link-sidebar li:hover {
  color: white;
  background-color: rgb(252, 93, 124);
  border-radius: 1.2rem;
  transition: all 0.3s ease;
}
#hamburger {
  display: none;
}
.close-sidebar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  color: black;
  gap: 0.6rem;
}

.btn-secondary {
  background-color: var(--bg-secondary);
  padding: 0.5rem;
  border-radius: 0.8rem;
  display: inline-flex;
}
.search-btn {
  background-color: var(--bg-secondary);
  color: black;
  padding: 0.5rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cart-btn {
  background-color: rgb(60, 60, 60);
  color: white;
  padding: 0.5rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cart-btn::after {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(217, 50, 84);
  position: absolute;
  top: 0;
  right: 0;
}
.main-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  width: 100%;
  gap: 2rem;
  place-items: start;
}
.place-items-center {
  place-items: center !important;
}

.list-menu {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  border-radius: 1rem;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.menu-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.8rem;
  border-radius: 6rem;
  max-width: fit-content;
  width: 100%;
  background-color: var(--bg-secondary);
  cursor: pointer;
  min-height: 9rem;
  transition: all 0.5s ease-in-out;
}

.menu-item:hover {
  background-color: white;
  box-shadow: 0 0 30px rgba(63, 36, 36, 0.1);
}

.menu-item:first-child {
  background-color: white;
  box-shadow: 0 0 30px rgba(63, 36, 36, 0.1);
}

.menu-item a {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.promo-menu-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(152, 97, 236);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 12rem;
  position: relative;
  height: 100%;
}
.promo-menu-card::after {
  content: url('https://img.icons8.com/?size=100&id=123640&format=png&color=000000');
  position: absolute;
  top: -3rem;
  right: -1rem;
  rotate: -45deg;
}

.promo-menu-card h1 {
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
}

.promo-menu-card p {
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
  font-weight: 500;
}

.all-item {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}




.product-filter-button {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 1rem;
  width: 100%;
}
.product-filter-button h1 {
  font-size: 1.6rem;
  font-weight: 600;
}
.view-all-product-button {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
}
.view-all-product-button span {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0.6rem;
  background-color: var(--bg-secondary);
  cursor: pointer;
}
.list-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.product-item {
  width: 12rem;
  background: white;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid var(--bg-secondary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.product-item:hover {
  background-color: var(--bg-secondary);
  transition: all 0.5s ease-in-out;
  transform: scale(0.95);
}

.product-item img {
  width: 100%;
  border-radius: 10px;
}

.product-item h3 {
  margin: 10px 0 0;
  font-size: 1em;
}

.product-item p {
  padding: 1em 1em 0 0;
  color: #777;
  font-size: 0.9em;
}

.price {
  font-weight: bold;
  margin-top: 10px;
}
.product-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-plus {
  background-color: black;
  color: white;
  border: none;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}
.btn-plus-active{
  background-color: green !important;
  color: white;
  border: none;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}




.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0.7rem;
}
.list-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-filter-button {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 1rem;
  width: 100%;
  align-items: end;
  flex-wrap: wrap;
}
.article-filter-button h1 {
  font-size: 1.3rem;
  font-weight: 600;
}
.view-all-article-button span {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0.6rem;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.list-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
  width: 100%;
}

.article-item {
  display: flex;
  gap: 0.5rem;
  padding: 0.4rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
}
.article-item:hover {
  background-color: var(--bg-secondary);
  transition: all 0.5s ease;
}

.article-item h5 {
  font-size: 0.8rem;
}
.article-item-img {
  width: 2.5rem;
  border-radius: 0.6rem;
  height: 2.5rem;
}
.article-item-img-list {
  display: flex;
}
.article-item-img-list img {
  width: 0.8rem;
  border-radius: 0.6rem;
}

@media (max-width: 1024px) {
  .nav-heading {
    font-size: 1.2rem;
    font-weight: 600;
  }

  #main {
    grid-template-columns: 1fr 4fr;
  }
  
  .sidebar #profile {
    align-items: center;
  }
  .product-container {
    grid-template-columns: 1fr;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .product-filter-button h1 {
    font-size: 1.4rem;
  }
  .promo-menu-card {
    width: 24rem;
  }
}

@media (max-width: 768px) {
  #main {
    grid-template-columns: 1fr;
  }
  #main-container {
    grid-template-columns: 1fr;
  }

  #hamburger {
    display: block;
    cursor: pointer;
  }
  .close-sidebar {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.6rem;
  }
.list-menu{
  justify-content: center;
}
  .close-sidebar:hover {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 0.8rem;
    background-color: var(--bg-secondary);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .sidebar #profile {
    align-items: start;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateX(-100vw);
    min-height: 100vh;
    transition: transform 0.5s ease;
    z-index: 9999;
    backdrop-filter: blur(25px);
    left: -0.7rem;
  }

  .sidebar-active {
    transform: translateX(1%);
    transition: transform 0.5s ease;
  }
  .promo-menu-card {
    max-width: 34rem;
  }

  .product-item {
    width: 10rem;
  }

  .product-filter-button h1 {
    font-size: 1.2rem;
  }
}


@media (max-width: 480px) {
  .promo-menu-card {
    width: 24rem;
  }
  .sidebar{
    left: -0.23rem;
  }

  .product-item {
    width: 8rem;
  }

  .product-filter-button h1 {
    font-size: 1rem;
  }
  
}
